<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.FileSystem.Example\packages.config" />
  <repository path="..\src\Orc.FileSystem.Tests\Orc.FileSystem.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.FileSystem.Tests\Orc.FileSystem.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.FileSystem\Orc.FileSystem.NET40\packages.config" />
  <repository path="..\src\Orc.FileSystem\Orc.FileSystem.NET45\packages.config" />
</repositories>